/*Parte propria della pagina*/
@font-face {
	font-family: 'Harukaze';
	src: url('specialFonts/HarukazeSolid-X3Wp9.ttf');
}
@font-face{
	font-family: 'Osake';
	src: url('specialFonts/Osake-x3oqj.otf');
}
@font-face{
	font-family: 'JapanDesign';
	src: url('specialFonts/JapaneseDesigns-3mKM.ttf');
}
html{
	overflow-x: hidden;
}
header{
	min-width: 100%;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
    flex-wrap: wrap;
	border-bottom: 2px solid white;
	border-radius: 10px;
	background: black;
}
header img{
	width: 25%;
	height: 10%;
	margin: 5px;
	border-radius: 5px;
}

h1{
	font-family: 'Osake';
	color: white;
}
li img{
	border-radius: 50px;
	width: 40px;
	height: 40px;
	margin-top: 5px;
}
#circle {
	  position: absolute;
	  top: 7px;
		right: 30px;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #32cd32;
    }
/*Parte di coolNavbar*/
nav{
	position: relative;
	width: 410px;
	height: 50px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(179, 179, 179, .5);
	align-items: center;
	border-radius: 10px;
}

ul{
	display: flex;
	margin: 0px;
	padding: 0px;
}

li{
	list-style: none;
}

a{
	font-family: 'Harukaze';
	font-size: 40px;
	display: block;
	width: calc(410px / 4);
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #121212;
}
.slide{
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(410px / 4);
	height: 4px;
	background: #9370DB;/*#3641b7;*/
	transition: .4s;
	border-radius: 5px;
}
p{
	font-family: 'Harukaze';
	color: white;
	font-size: 44px;
}
/*Parte di menu1*/

aside nav{
	display: flex;
	flex-direction: column;
	
	position: absolute;
	width: 0px;
	height: 0px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(179, 179, 179, .5);
	align-items: center;
	border-radius: 0px;
	
	right: -5px;/**/
}
aside input{
	position: relative;
	width: 40px;
	height: 40px;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.116);
	text-align: center;
	border-radius: 50px;
	color: rgb(41,41,41);
	margin-top: 10px;
	
}
 aside input::before{
	/*content: '🀄';*/
	content:'T';
	font-family: 'JapanDesign';
	font-weight: 700;
	font-size: 1.8em;
	font-size: 40px;
	z-index: 10; 
	color:white;
	
}

aside input:checked::before{
	/*content: '㊙';*/
	content:'D';
	font-family: 'JapanDesign';
	font-size: 40px;
	animation: anim ls;
	
}
@keyframes anim{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
aside input::after{
	content:'';
	position: absolute;
	top: -15%; left: -20%;
	width: 140%; height: 120%;
	background: black;
	box-shadow: 0 0 10px rgb(0 , 0, 0, 0.116);
	border-radius: 5px; z-index: -1;
}
aside nav {position: absolute; margin-top: 15px;}
aside nav a{
	transform: translate(100px); text-align: center;
	padding: 5px 20px; 
	background: black;
	box-shadow: 0 0 15px rgb(0,0, 0, 0.103);
	border-radius: 5px;
	text-decoration: none;
	color: white; margin: 5px 0;
	transition: transform calc(var(--i)*0.2s), background.4s
}
aside input:checked~nav a{
	transform: translate(-80px);
	}
aside nav a:hover{
	background: #DD4A48;
	box-shadow: 0 0 15px #dd4b48b7;
}

/*Parte di imageSlider2*/

body{
	background: rgb(42, 42, 42);
	align-items: center;
	display: flex;
	flex-direction: column;
}

.wrapper {
  width: 960px;
  max-width: 95%;
  margin: 0 auto;
  padding: 10px 0;
  padding-top: 20px;
  background: black;
  border-radius: 10px;
  /*border-top: 2px solid white;
  border-bottom: 2px solid white;*/
  box-shadow: 1px 3px 3px #FF00FF;
}

.parent-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   
}

.image-box {
  width: 25%;
  height: 227px;
  min-width: 250px;
  padding: 8px;
  box-shadow: 0 0 3px #bdbdbd;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: zoom-in;
  transition: all 0.2s ease-in;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9370DB;
}
.image-box img {
  width: 60%;
  height: 60%;
  border-radius: 100px;
}
.image-box h1{
	border-top: 2px solid white;
	padding-top: 20px;
} 
.image-box:hover {
  box-shadow: 0 5px 40px -3px #FF00FF;/*#bdbdbd;*/
  transform: scale(1.03);
}

.modal-box {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(3, 3, 3, 0.9);
  transition: all 0.33s ease-out;
}
.modal-box .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: zoom-out;
  z-index: 1;
}
.modal-box--image {
  background: white;
  position: absolute;
  width: 700px;
  height: 500px;
  max-height: 90%;
  max-width: 90%;
  padding: 20px;
  border-radius: 5px;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-box--image img {
  width: 92%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-box.invisible {
  opacity: 0;
  transform: translateY(-120%);
}

/*Contatti Social*/
.icon:hover:nth-child(2){
	background: #1877f2;
	box-shadow: 0 0 20px #1877f2;
}
.icon:hover:nth-child(3){
	background: #25d366;
	box-shadow: 0 0 20px #25d366;
}
.icon:hover:nth-child(4){
	background: #1da1f2;
	box-shadow: 0 0 20px #1da1f2;
}
.icon i{
	color: white;
	position: relative;
	top: -55%;/**/
	left: 50%;
	transform: translate(-50%, -50%);
}
svg circle{
	stroke-dasharray: 105;
	transition: all .8s;
}
.icon:hover svg circle{
	stroke-dasharray: 220;
}
.main{
	position: relative;
	left: 20%;
	transform: translate(-50%, -50%);
	display: flex;
	
	cursor: pointer;
	border-top: 2px solid white;
	margin-top: 60px;
}
.icon{
	width: 80px;
	height: 80px;
	margin: 20px;
	border-radius: 50px;
	transition: all .8s;
}
.icon:hover{
	background: #e60073;
	box-shadow: 0 0 20px #e60073;
}