/*Parte propria della pagina*/
@font-face {
	font-family: 'Harukaze';
	src: url('specialFonts/HarukazeSolid-X3Wp9.ttf');
}
@font-face{
	font-family: 'Osake';
	src: url('specialFonts/Osake-x3oqj.otf');
}
@font-face{
	font-family: 'JapanDesign';
	src: url('specialFonts/JapaneseDesigns-3mKM.ttf');
}
html{
	overflow-x: hidden;
}
header{
	min-width: 100%;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
    flex-wrap: wrap;
	border-bottom: 2px solid white;
	border-radius: 10px;
	background: black;
}
header img{
	width: 25%;
	height: 10%;
	margin: 5px;
	border-radius: 5px;
}
header h1{
	font-size: 4vh;
	margin: 13px;
}

h1{
	font-family: 'Osake';
	color: white;
}
li img{
	border-radius: 50px;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-left: 31px;
}
#circle {
	  position: absolute;
	  top: 7px;
	  right: 30px;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #32cd32;
    }
#favouriteCircle{
	position: absolute;
	  top: 77px;
	  right: 10px;/**/
      width: 15px;
      height: 15px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #32cd32;
	  line-height: 15px; 
	  font-size: 10px;
}
/*Parte di coolNavbar*/
nav{
	position: relative;
	width: 410px;
	height: 50px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(179, 179, 179, .5);
	align-items: center;
	border-radius: 10px;
	margin-top: 15px;
}

ul{
	display: flex;
	margin: 0px;
	padding: 0px;
}

li{
	list-style: none;
}

a{
	font-family: 'Harukaze';
	font-size: 40px;
	display: block;
	width: calc(410px / 4);
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #121212;
}
.slide{
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(410px / 4);
	height: 4px;
	background: #9370DB;/*#3641b7;*/
	transition: .4s;
	border-radius: 5px;
}
p{
	font-family: 'Harukaze';
	color: white;
	font-size: 44px;
	width: 70%;
}
/*Parte del slow drop menu*/
.dropbtn {
  background-color: black;/*#4CAF50;*/
  transition: 0.3s;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  align-items: center;
}
/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;/**/
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: black;
}
/* Links inside the dropdown */

.dropdown-content a {
	font-family: sans-serif;
	font-size: 14px;
	margin: 5px;
	padding: 5px, 5px;
	color: white;
	/*padding: 12px 16px;*/
	text-decoration: none;
	display: block;
	
}
/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #9370DB;/*#f1f1f1;*/
  color: white;/*#000000;*/
  border-radius: 10px;
}
/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: inline;
}
/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #9370DB;/*#3e8e41;*/
  color: white;
}
.dropdown1 {
  position: fixed;
  top: 252px;
  left: 2%;
}
.dropdown2 {
  position: fixed;
  top: 292px;
  left: 2%;
}
.pageheading {
  font-family: verdana;
  font-size: 85%;
  position: absolute;
  left: 50px;
  top: 210px;
  background-color: #4CAF50;
  border-radius: 6px;
}


/*Parte di imageSlider2*/

body{
	background: rgb(42, 42, 42);
	align-items: center;
	display: flex;
	flex-direction: column;
}

.wrapper {
  width: 70%;
  min-width: 710px;
  max-width: 95%;
  padding: 10px 0;
  padding-top: 20px;
  background: black;
  border-radius: 10px;
  /*border-top: 2px solid white;
  border-bottom: 2px solid white;*/
  box-shadow: 1px 3px 3px #FF00FF;

}

.parent-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   
}

.image-box {
  /*width: 25%;*/
  height: 152px;
  min-width: 250px;
  padding: 8px;
  box-shadow: 0 0 3px #bdbdbd;
  overflow: hidden;
  cursor: zoom-in;
  transition: all 0.2s ease-in;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9370DB;
}
.image-box img {
  width: 54%;
  height: 106%;/**/
  border-radius: 100px;
}
.image-box h1{
	border-top: 2px solid white;
	padding-top: 20px;
} 
.image-box:hover {
  box-shadow: 0 5px 40px -3px #FF00FF;/*#bdbdbd;*/
  transform: scale(1.03);
}

.modal-box {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(3, 3, 3, 0.9);
  transition: all 0.33s ease-out;
}
.modal-box .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: zoom-out;
  z-index: 1;
}
.modal-box--image {
  background: white;
  position: absolute;
  width: 700px;
  height: 500px;
  max-height: 90%;
  max-width: 90%;
  padding: 20px;
  border-radius: 5px;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-box--image img {
  width: 92%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-box.invisible {
  opacity: 0;
  transform: translateY(-120%);
}

/*Contatti Social*/
.icon:hover:nth-child(2){
	background: #1877f2;
	box-shadow: 0 0 20px #1877f2;
}
.icon:hover:nth-child(3){
	background: #25d366;
	box-shadow: 0 0 20px #25d366;
}
.icon:hover:nth-child(4){
	background: #1da1f2;
	box-shadow: 0 0 20px #1da1f2;
}
.icon i{
	color: white;
	position: relative;
	top: -55%;/**/
	left: 50%;
	transform: translate(-50%, -50%);
}
svg circle{
	stroke-dasharray: 105;
	transition: all .8s;
}
.icon:hover svg circle{
	stroke-dasharray: 220;
}
.main{
	position: relative;
	left: 20%;
	transform: translate(-50%, -50%);
	display: flex;
	
	cursor: pointer;
	border-top: 2px solid white;
	margin-top: 60px;
}
.icon{
	width: 80px;
	height: 80px;
	margin: 20px;
	border-radius: 50px;
	transition: all .8s;
}
.icon:hover{
	background: #e60073;
	box-shadow: 0 0 20px #e60073;
}

/*Parte delle cards*/

.card{
	/*mt-5 ml-10;*/
	margin-top: 1.25rem;
	margin-left: 2.5rem;
}
.card:hover{
	transform: scale(1.03);
	box-shadow: 0 0 15px #FF00FF;
}
.cardHeader{
	/*max-w-sm rounded overflow-hidden shadow-2xl bg-gray-100*/
	max-width: 24rem;
	border-radius: .25rem;
	overflow: hidden;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
	--bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247,250,252,var(--bg-opacity));
}
.cardDescription{
	/*px-6 py-4*/
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
	
}
.cardDescriptionContent{
	/*font-bold text-xl mb-2*/
	font-weight: 700;
	font-size: 1.25rem;
	margin-bottom: .5rem;
	line-height: 60px; 
}
.cardDescriptionP{
	/*text-gray-700 text-base*/
	--text-opacity: 1;
	color: #4a5568;
	color: rgba(74,85,104,var(--text-opacity));
	font-size: 1rem;
	margin-top: 20px;
	margin-bottom: 25px;
	font-family: sans-serif;
}
.cardDescription span{
	line-height: 33px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.w-full {
    width: 100%;
}
.cardTitle{
	font-family: 'Osake';
	background-color: #e400ff9e;
    font-weight: 600;
	color: white;
	border: 0px solid #e400ff9e;
	border-radius: 10px;
	padding-top: .25rem;
    padding-bottom: .25rem;
	font-size: .875rem;
	margin-top: 10px;
	margin-bottom: 8px;
    margin-left: 10%;/**/
	padding-left: .75rem;
    padding-right: .75rem;
	width: 177px;
	height: 21px;
	line-height: 24px;
}
.favourite{
	margin-top: 10px;
}

.riduci{
	display: none;
	margin-top: 10px;/**/
}
.mostra{
	margin-top: 10px;
}

.pageDescription{
	font-family: 'Harukaze';
	font-size: 44px;
	color: white;
}
.footerCard{
	display: flex;
	flex-direction: row;
	align-items: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}
video {
    max-width: 100%;
    height: auto;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
blockquote, dd, dl, figure, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
.pt-4 {
    padding-top: 1rem;
}

.pb-2 {
    padding-bottom: .5rem;
}

.text-gray-100 {
    --text-opacity: 1;
    color: #f7fafc;
    color: rgba(247,250,252,var(--text-opacity));
}
.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}
.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.mb-2 {
    margin-bottom: .5rem;
}
.mr-2 {
    margin-right: .5rem;
}
.text-sm {
    font-size: .875rem;
}
.font-semibold {
    font-weight: 600;
}
.inline-block {
    display: inline-block;
}
.cursor-pointer {
    cursor: pointer;
}
.rounded-full {
    border-radius: 9999px;
}
.bg-red-500 {
    --bg-opacity: 1;
    background-color: #f56565;
    background-color: rgba(245,101,101,var(--bg-opacity));
}

.duration-300 {
    transition-duration: .3s;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.text-gray-100 {
    --text-opacity: 1;
    color: #f7fafc;
    color: rgba(247,250,252,var(--text-opacity));
}
.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}
.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.mb-2 {
    margin-bottom: .5rem;
}
.mr-2 {
    margin-right: .5rem;
}
.text-sm {
    font-size: .875rem;
}
.font-semibold {
    font-weight: 600;
}
.inline-block {
    display: inline-block;
}
.cursor-pointer {
    cursor: pointer;
}
.rounded-full {
    border-radius: 9999px;
}
.bg-red-500 {
    --bg-opacity: 1;
    background-color: #f56565;
    background-color: rgba(245,101,101,var(--bg-opacity));
}
button{
	background-color: #e400ff9e;/*#f56565;*/
    font-weight: 600;
	color: white;
	border: 0px solid #f56565;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 3px;
    padding-bottom: 3px;
	font-size: .875rem;
	margin-bottom: .5rem;
    margin-right: .5rem;
	padding-left: .75rem;
    padding-right: .75rem;
	
}
button:hover{
	transform: scale(1.1);
}
